.user-message {
    margin: auto;
    width: 90%;
    border: 1px solid #053db6;
    padding: 1rem;
    border-radius: 3px;
    background: #64c1f7;
    text-align: center;
  }

  .user-message--success {
      border-color: rgb(36, 172, 2);
      background: rgb(192, 248, 107);
  }

  .user-message--alert {
      border-color: yellow;
      background: rgb(255, 255, 141);
  }
  
  .user-message--error {
    border-color: red;
    background: rgb(235, 128, 128);
  }
  
  @media (min-width: 768px) {
    .user-message {
      width: 30rem;
    }
  }