<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>

    <form action="/add-user" method="post">
        <div>
            <label for="username">Name</label>
            <input type="text" id="username" name="username">
        </div>
        <button type="submit">Add User</button>
    </form>
<%- include('includes/end.ejs') %>