<header>
    <nav>
        <ul>
            <li><a class="<%= path === '/users' ? 'active' : '' %>" href="/users">Users</a></li>
            <li><a class="<%= path === '/add-user' ? 'active' : '' %>" href="/add-user">Add User</a></li>
        </ul>
    </nav>
</header>